
@{
    ViewBag.Title = "DeleteProduct";
}

<div class="container">
    <div class="alert alert-danger">@ViewBag.TonTai</div>
    <a href="@Url.Action("index", "Product")" class="btn btn-secondary">Về danh sách</a>
</div>

